/**
  Контрольные точки
*/

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

/**
  Часто используемые цвета
*/
$color-1: #4b8cf4;
$color-2: #629fff;
$color-3: #33f8f8;
$color-3-hover: #30e4e4;
$color-4: #11111f;
$color-5: #efeff1;

$color-6: #e96d2d;
$color-7: #593ff6;
$color-8: #cf372e;

$color-9: #f0f0f0;

$color-10: #f2f0fe;
$color-11: #fdf4ee;
$color-12: #fbefef;
$color-13: #fbf0f7;
$color-14: #f3faff;

$color-15: #8c90a5;
$color-16: #ce3a97;

$color-17: #b1cfff;

$color-18: #cfe2ff;

$color-19: #535664;
$color-20: #2d79f7;

$color-21: #dedee1;

$color-22: #a7a7b5;
$color-23: #626278;
$color-24: #868696;

/* 
  Шрифты
*/
$font-1: "Montserrat", sans-serif;

/* 
  Other
*/
$transition-time: 0.3s;
